table.bmiTable{
    border-width: 5px;
    border-spacing: 5px;
    border-style: outset;
    border-color:blue;
    border-collapse: separate;
    background-color: #6a7a95 #0978eb #0978e8 #6a7a95;
}
th.bmiTable{
    border-width: 1px;
    padding: 5px;
    border-style: none;
}
td.bmiTable{
    border-width: 1px;
    padding: 5px;
    border-style: none;
}